.preview {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px 10px 16px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  border-radius: 10px;
  width: 336px;
  height: 236px;
  min-width: 336px;
  min-height: 236px;
}

.preview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-header__system {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.preview-header__system button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: none;
  transition: opacity ease 200ms;
  opacity: 0.8;
}

.preview-header__system button:hover {
  opacity: 1;
}

.close {
  background-color: #f84b4b;
}
.minimize {
  background-color: #f4be4f;
}
.maximize {
  background-color: #61c454;
}

.preview-header__toolbar {
  display: flex;
  align-items: center;
  gap: 4px;
}

.preview-header__toolbar button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: opacity ease 200ms;
  opacity: 0.8;
}

.preview-header__toolbar button:hover {
  opacity: 1;
}

.preview-header__toolbar button svg {
  fill: var(--color-primary);
}

.preview__body {
  width: 222px;
  margin: 0 auto;
}

.status {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
}

.timer {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  color: var(--color-primary);
}

.actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions button {
  width: 96px;
  height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-background);
  opacity: 0.9;
  cursor: pointer;
  transition: opacity ease 200ms;
}

.actions button:hover {
  opacity: 1;
}

.preview__footer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.status-line {
  position: relative;
  height: 5px;
  width: 85px;
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.status-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 59px;
  background-color: var(--color-accent);
}
